<%= link_to("<< Naspat na zoznam podujati", {:action => 'index'}, :class => 'back-link') %>

<div>
  <h2>Zmazanie podujatia</h2>

  <%= form_for(:subject, :url => {:action => 'destroy', :id => @event.id}) do |f| %>

      <p>Are you sure you want to permanently delete this subject?</p>

      <p class="reference-name"><%= @event.name %></p>


        <%= submit_tag 'Zmazat podujatie', class: 'btn btn-danger' %>

  <% end %>
</div>