<% @page_title='Podujatia' %>
<div class="events index">
  <h2>Events</h2>

  <%= link_to("Pridaj nove podujatie", {:action => :new }, :class => 'action new') %>

  <table class="table" summary="Subject list">
    <tr class="header">
      <th>Nazov</th>
      <th>Datum</th>
      <th>Typ</th>
      <th>Popis</th>
      <th>Adresa</th>
      <th>Akcie</th>
    </tr>
 <%= render @events %>
</table>

 <%= render partial: "application/paginate", locals: { object: @events }  %>

</div>