<% @page_title='Podujatia' %>
<div class="events index">
  <h2>Events</h2>

  <%= link_to("Pridaj nove podujatie", {:action => :new }, :class => 'action new') %>

 <%= render partial: "event", locals: { events: @events }%>

 <%= render partial: "application/paginate", locals: { object: @events }  %>

</div>