<% @page_title='Podujatia' %>

<div class="container">
  <ol class="breadcrumb">
	  <li><%= link_to "Hlavná stránka", root_path %></li> 
	  <li class="active">Vyhľadávanie podujatí</li>
  </ol>


	<h2>Podujatia <%= Date.parse(params[:date]).strftime("%d.%m.%Y") %></h2>

	<%= link_to("Pridaj nove podujatie", new_event_path ) %>
	
	<%= render 'event', events: @events %>
</div>
