<ul class="pager">
<div class="center">
  <%#= will_paginate @events, previous_label: h("<"), next_label: h(">")  %>
  <% if object.previous_page %>
	  <li> <%= link_to "< Späť", params.merge(:page => @events.previous_page) %></li>
  <% end %>

	Stránka <b><%= object.current_page %></b> z <%= @events.total_pages %>

  <% if object.next_page %>
	  <li> <%= link_to "Ďalej >", params.merge(:page => @events.next_page) %></li>
  <% end %>
</div>
</ul>
