<% @page_title = 'About' %>
<div class="container">
  <div class="center">
	<h1><strong>domased.sk</strong></br>
  	<small>A už nikdy nepremeškáš žiadne podujatie!</small></h1>
  	<br>
  </div>
  
  <p>Vyhladavac podujati, ktory vznikol ako projekt na VOS. A inak Ruby on Rails je super!
   Kontakt: jakub.macina@gmail.com</p>
</div>
