<% @page_title = 'Home' %>
<div class="jumbotron">
<h1><strong>domased.sk</strong><br>
<small>Najväčší vyhľadávač podujatí v tvojom okolí.</small></h1>
  <%= link_to('Pridaj nové podujatie', {:controller => 'events', :action => 'new'}, :class => ['btn-warning','btn']) %>
  <%= link_to('Vyhladaj podujatie', '#', :class => ['btn-success','btn']) %>
</div>