<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-footer col-md-6 col-xs-6">
        <h3>Kontakt</h3>
        <p class="contact-us-details">
          <div class= "col-md-6">
            <b>Email:</b> <a href="mailto:jakub.macina@gmail.com">jakub.macina@gmail.com</a>
          </div>
      </div>

      <div class="col-footer col-md-6 col-xs-6">
        <h3>Zostaň s nami</h3>
        <div class="footer-stay-connected no-list-style">
          <div class="row">
            <div class= "col-md-3"><a href="#" class="facebook"></a></div>
            <div class= "col-md-3"><a href="#" class="twitter"></a></div>
            <div class= "col-md-3"><a href="#" class="googleplus"></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">&copy; Jakub Mačina
        </div>
      </div>
    </div>
  </div>
</div>

